CPTCFG_CFG80211=m
CPTCFG_NL80211_TESTMODE=y
# CPTCFG_CFG80211_DEFAULT_PS is not set
CPTCFG_CFG80211_DEBUGFS=y
CPTCFG_CFG80211_WEXT=y
CPTCFG_MWIFIEX=m
CPTCFG_MWIFIEX_SDIO=m
CPTCFG_MWIFIEX_USB=m
# CPTCFG_ETHERNET is not set
