<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">isoping on %h</name>
    <service>
        <type>_isoping._udp</type>
        <port>4948</port>
    </service>
</service-group>
