<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">syslog on %h</name>
    <service>
        <type>_syslog._udp</type>
        <port>514</port>
    </service>
</service-group>
