BR2_mips=y
BR2_CCACHE=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="${TOPDIR}/../toolchains/bruno"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="mipsel-linux"
BR2_TOOLCHAIN_EXTERNAL_LARGEFILE=y
BR2_TOOLCHAIN_EXTERNAL_INET_IPV6=y
BR2_TOOLCHAIN_EXTERNAL_INET_RPC=y
BR2_TOOLCHAIN_EXTERNAL_LOCALE=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
# BR2_SOFT_FLOAT is not set
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_IPERF=y
# BR2_PACKAGE_BRUNO is not set
BR2_PACKAGE_GOOGLE_MINICLIENT=y
BR2_PACKAGE_GOOGLE_PULLREADER=y
BR2_PACKAGE_GOOGLE_FFMPEG=y
BR2_PACKAGE_BCM_BSEAV=y
BR2_PACKAGE_BCM_NEXUS=y
BR2_PACKAGE_BCM_APPS=y
BR2_PACKAGE_BCM_APP_REFSW=y
BR2_PACKAGE_BCM_APP_DLNA=y
BR2_PACKAGE_BCM_APP_STAGECRAFT=y
BR2_PACKAGE_BCM_APP_ARGO=y
BR2_PACKAGE_BCM_APP_COVERFLOW3D=y
BR2_PACKAGE_BCM_APP_BROWSER=y
BR2_PACKAGE_BCM_APP_ALSA=y
BR2_PACKAGE_BCM_APP_QT=y
BR2_PACKAGE_BCM_APP_LIBCURL=y
BR2_PACKAGE_BCM_APP_SQLITE=y
BR2_PACKAGE_BCM_APP_LIBXML2=y
BR2_PACKAGE_BCM_APP_ZLIB=y
BR2_PACKAGE_BCM_APP_LIBPNG=y
BR2_PACKAGE_BCM_APP_JPEG=y
BR2_TARGET_ROOTFS_JFFS2=y
BR2_TARGET_ROOTFS_JFFS2_CUSTOM=y
BR2_TARGET_ROOTFS_JFFS2_NOCLEANMARKER=y
BR2_TARGET_ROOTFS_JFFS2_LE=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="repo://kernel/bruno"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="HEAD"
BR2_LINUX_KERNEL_DEFCONFIG="bcm7425a0"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
