BR2_mips=y
BR2_mips_32r2=y

#BR2_MIPS_OABI32=y
#BR2_ARCH="mips"
#BR2_ENDIAN="BIG"
#BR2_GCC_TARGET_TUNE="mips32r2"
#BR2_GCC_TARGET_ABI="32"
#BR2_TARGET_OPTIMIZATION="-Os -pipe -funit-at-a-time -mips32r2 -mtune=mips32r2"
#BR2_CROSS_TOOLCHAIN_TARGET_UTILS=y

BR2_DL_DIR="${TOPDIR}/../vendor/opensource/tarballs"
BR2_JLEVEL=15
BR2_CCACHE=n
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="${TOPDIR}/../toolchains/windcharger"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="mips-qca-linux-uclibc"
BR2_TOOLCHAIN_EXTERNAL_LARGEFILE=y
BR2_TOOLCHAIN_EXTERNAL_INET_IPV6=y
BR2_TOOLCHAIN_EXTERNAL_INET_RPC=y
BR2_TOOLCHAIN_EXTERNAL_WCHAR=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_HAS_THREADS_DEBUG=y
BR2_TARGET_GENERIC_HOSTNAME="gfwindcharger"
BR2_TARGET_GENERIC_ISSUE="Welcome to Google Fiber"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_ROOTFS_DEVICE_TABLE="/dev/null"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_POST_BUILD_SCRIPT="${TOPDIR}/support/scripts/postbuild.sh"
BR2_TARGET_GENERIC_PLATFORM_NAME="gfmn100"
BR2_TARGET_GENERIC_PLATFORMS_SUPPORTED="GFMN100"
# BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX=n
BR2_PACKAGE_TOOLBOX=y
BR2_PACKAGE_TOYBOX=y
BR2_PACKAGE_STRESS=n
BR2_PACKAGE_DEVMEM2=n
BR2_PACKAGE_MTD=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_BRIDGE_UTILS=n
BR2_PACKAGE_QCA95XX=y
BR2_PACKAGE_PROCPS=y
BR2_LINUX_KERNEL_PATCH="${TOPDIR}/../kernel/windcharger/"
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_DNSMASQ=y

BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_PYEXPAT=y
BR2_PACKAGE_PYTHON_SSL=y
BR2_PACKAGE_PYTHON_IPV6=y
BR2_PACKAGE_PY_DNS=y
BR2_PACKAGE_PY_MONOTIME=y
BR2_PACKAGE_PYTHON_CRYPTO=y
BR2_PACKAGE_PYTHON_SETUPTOOLS=y
BR2_PACKAGE_CATAWAMPUS=y

BR2_PACKAGE_DHCP=y
BR2_PACKAGE_DHCP_CLIENT=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPUTILS=y
BR2_PACKAGE_DASH=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_ZSH=y
BR2_PACKAGE_ZSH_BINARIES_ONLY=y
BR2_PACKAGE_SYSKLOGD=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_AGETTY=y
BR2_PACKAGE_UTIL_LINUX_LOGIN_UTILS=y
BR2_PACKAGE_NANO=n
BR2_PACKAGE_GOOGLE_PLATFORM=y
BR2_PACKAGE_GOOGLE_PLATFORM_BASE=y
BR2_PACKAGE_GOOGLE_WINDCHARGER=y

BR2_TARGET_ROOTFS_INITRAMFS=n
BR2_TARGET_ROOTFS_GINSTALL=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="gfwc100"
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_GIT_REPO_URL="repo://uboot/windcharger"
BR2_TARGET_UBOOT_CUSTOM_GIT_VERSION="HEAD"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="repo://kernel/windcharger"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="HEAD"
BR2_LINUX_KERNEL_DEFCONFIG="gfwc100"
BR2_LINUX_KERNEL_ZIMAGE=y
