BR2_mipsel=y
BR2_mips_32=y
BR2_DL_DIR="${TOPDIR}/../vendor/opensource/tarballs"
BR2_CCACHE=y
BR2_ENABLE_DEBUG=y
BR2_OPTIMIZE_2=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="${TOPDIR}/../toolchains/bruno"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="mipsel-linux"
BR2_TOOLCHAIN_EXTERNAL_LARGEFILE=y
BR2_TOOLCHAIN_EXTERNAL_INET_IPV6=y
BR2_TOOLCHAIN_EXTERNAL_INET_RPC=y
BR2_TOOLCHAIN_EXTERNAL_LOCALE=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTRA_EXTERNAL_LIBS="libubacktrace.so libssp.so"
BR2_PACKAGE_GDB=y
BR2_GDB_VERSION_7_3=y
# BR2_SOFT_FLOAT is not set
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_ROOTFS_DEVICE_TABLE="/dev/null"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_POST_BUILD_SCRIPT="${TOPDIR}/support/scripts/postbuild.sh"
BR2_TARGET_GENERIC_PLATFORM_NAME="gfibertv"
BR2_TARGET_GENERIC_PLATFORMS_SUPPORTED="GFMS100, GFHD100"
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_ALSA_LIB_PCM_PLUGINS="none"
BR2_PACKAGE_ALSA_LIB_CTL_PLUGINS="none"
# BR2_PACKAGE_ALSA_LIB_ALOAD is not set
# BR2_PACKAGE_ALSA_LIB_MIXER is not set
# BR2_PACKAGE_ALSA_LIB_RAWMIDI is not set
# BR2_PACKAGE_ALSA_LIB_HWDEP is not set
# BR2_PACKAGE_ALSA_LIB_SEQ is not set
# BR2_PACKAGE_ALSA_LIB_ALISP is not set
# BR2_PACKAGE_ALSA_LIB_OLD_SYMBOLS is not set
# BR2_PACKAGE_ALSA_UTILS_ALSACTL is not set
# BR2_PACKAGE_ALSA_UTILS_ALSAMIXER is not set
BR2_PACKAGE_GZIP=y
BR2_PACKAGE_PKG_CONFIG=y
BR2_PACKAGE_TAR=y
BR2_PACKAGE_DBUS_PYTHON=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_MKDOSFS=y
BR2_PACKAGE_DOSFSTOOLS_DOSFSCK=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_HDPARM=y
BR2_PACKAGE_HWDATA=y
# BR2_PACKAGE_MTD_UBINIZE is not set
BR2_PACKAGE_SMARTMONTOOLS=y
BR2_PACKAGE_USB_MODESWITCH=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_BZIP2=y
BR2_PACKAGE_PYTHON_PYEXPAT=y
BR2_PACKAGE_PYTHON_READLINE=y
BR2_PACKAGE_PYTHON_SSL=y
BR2_PACKAGE_PYTHON_IPV6=y
BR2_PACKAGE_PY_GOOGLE_API=y
BR2_PACKAGE_PY_DNS=y
BR2_PACKAGE_PY_MONOTIME=y
BR2_PACKAGE_PYTHON_CRYPTO=y
BR2_PACKAGE_PYTHON_GOBJECT=y
BR2_PACKAGE_OPENSSL_BIN=y
# BR2_PACKAGE_AVAHI_AUTOIPD is not set
BR2_PACKAGE_BLUEZ_UTILS=y
BR2_PACKAGE_BRIDGE_UTILS=y
BR2_PACKAGE_DHCP=y
BR2_PACKAGE_DHCP_CLIENT=y
BR2_PACKAGE_EBTABLES=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_IPUTILS=y
# BR2_PACKAGE_SAMBA_EVENTLOGADM is not set
# BR2_PACKAGE_SAMBA_NET is not set
# BR2_PACKAGE_SAMBA_NMBLOOKUP is not set
# BR2_PACKAGE_SAMBA_NTLM_AUTH is not set
# BR2_PACKAGE_SAMBA_PDBEDIT is not set
# BR2_PACKAGE_SAMBA_PROFILES is not set
# BR2_PACKAGE_SAMBA_RPCCLIENT is not set
# BR2_PACKAGE_SAMBA_SMBCACLS is not set
# BR2_PACKAGE_SAMBA_SMBCLIENT is not set
# BR2_PACKAGE_SAMBA_SMBCONTROL is not set
# BR2_PACKAGE_SAMBA_SMBCQUOTAS is not set
# BR2_PACKAGE_SAMBA_SMBGET is not set
# BR2_PACKAGE_SAMBA_SMBLDBTOOLS is not set
# BR2_PACKAGE_SAMBA_SMBPASSWD is not set
# BR2_PACKAGE_SAMBA_SMBSHARESEC is not set
# BR2_PACKAGE_SAMBA_SMBSPOOL is not set
# BR2_PACKAGE_SAMBA_SMBSTATUS is not set
# BR2_PACKAGE_SAMBA_SMBTREE is not set
# BR2_PACKAGE_SAMBA_SWAT is not set
# BR2_PACKAGE_SAMBA_TDB is not set
# BR2_PACKAGE_SAMBA_TESTPARM is not set
# BR2_PACKAGE_SAMBA_WINBINDD is not set
# BR2_PACKAGE_SAMBA_AVAHI is not set
BR2_PACKAGE_VCONFIG=y
BR2_PACKAGE_ACL=y
BR2_PACKAGE_MODULE_INIT_TOOLS=y
BR2_PACKAGE_GPTFDISK=y
BR2_PACKAGE_GPTFDISK_GDISK=y
BR2_PACKAGE_GPTFDISK_SGDISK=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=y
BR2_PACKAGE_UTIL_LINUX_SWITCH_ROOT=y
BR2_PACKAGE_UTIL_LINUX_PIVOT_ROOT=y
BR2_PACKAGE_GOOGLE_SKELMIR=y
#BR2_PACKAGE_BCM_MIRACAST=n
BR2_PACKAGE_GOOGLE_PLATFORM=y
BR2_PACKAGE_GOOGLE_PLATFORM_BASE=y
BR2_PACKAGE_GOOGLE_PLATFORM_HNVRAM=y
BR2_PACKAGE_GOOGLE_PULLREADER=y
BR2_PACKAGE_GOOGLE_TEST=y
BR2_PACKAGE_GOOGLE_STORAGE_BOX=y
BR2_PACKAGE_GOOGLE_TV_BOX=y
BR2_PACKAGE_CATAWAMPUS=y
BR2_PACKAGE_BCM_COMMON_PLATFORM="97425"
BR2_PACKAGE_BCM_COMMON_PLATFORM_REV="B2"
#BR2_PACKAGE_BCM_BLUETOOTH=n
#BR2_PACKAGE_BCM_BLUETOOTH_BSA=n
#BR2_PACKAGE_BCM_BLUETOOTH_FW=n
#BR2_PACKAGE_BCM_DRIVERS=n
#BR2_PACKAGE_BCM_DRIVER_MOCA=n
BR2_PACKAGE_BACKPORTS=n
BR2_PACKAGE_BACKPORTS_DEFCONFIG="gftv100_defconfig"
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_PACKAGE_SIMPLERAMFS=y
BR2_TARGET_ROOTFS_GINSTALL=y
BR2_TARGET_ROOTFS_GINSTALL_LOADER_DIR="../loader-bin/broadcom/cfe-bin/gftv100"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="repo://kernel/bruno"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="HEAD"
BR2_LINUX_KERNEL_DEFCONFIG="bruno_gfhd100b2"
BR2_LINUX_KERNEL_VMLINUX=y
