BR2_DL_DIR="${TOPDIR}/../vendor/opensource/tarballs"
BR2_CCACHE=y
BR2_ENABLE_DEBUG=y
BR2_OPTIMIZE_2=y
BR2_UCLIBC_CONFIG="toolchain/uClibc/bruno.config"
BR2_BINUTILS_VERSION_2_21=y
BR2_PACKAGE_GDB_HOST=y
BR2_GDB_VERSION_7_2=y
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_INET_IPV6=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_ROOTFS_DEVICE_TABLE="/dev/null"
BR2_ROOTFS_SKELETON_CUSTOM=y
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_NOPLATFORM=y
# BR2_TARGET_ROOTFS_TAR is not set
