# Architecture
BR2_arm=y
BR2_arm926t=y
BR2_ARM_EABI=y
BR2_GCC_TARGET_TUNE="marvell-f"
BR2_JLEVEL=15
BR2_CCACHE=y
BR2_USE_MMU=y
BR2_USE_WCHAR=y
BR2_LARGEFILE=y

# Toolchain
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="${TOPDIR}/../toolchains/prism"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="arm-marvell-linux-uclibcgnueabi"
BR2_TOOLCHAIN_EXTERNAL_UCLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_UCLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTERNAL_INET_IPV6=y
BR2_TOOLCHAIN_EXTERNAL_INET_RPC=y
BR2_TOOLCHAIN_EXTERNAL_LARGEFILE=y
BR2_TOOLCHAIN_EXTERNAL_WCHAR=y

# U-Boot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_GIT_REPO_URL="repo://uboot/prism"
BR2_TARGET_UBOOT_CUSTOM_GIT_VERSION="HEAD"
BR2_TARGET_UBOOT_VERSION="HEAD"
BR2_TARGET_UBOOT_PATCH=""
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2009.08mv"
BR2_TARGET_UBOOT_DEFCONFIG="rd88f6601mc"
BR2_TARGET_UBOOT_BOARDNAME="rd88f6601mc"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="repo://kernel/prism"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="HEAD"
BR2_LINUX_KERNEL_VERSION="HEAD"
BR2_LINUX_KERNEL_PATCH=""
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="mv88f6601"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y

# Packages
BR2_PACKAGE_TOOLBOX=y
BR2_PACKAGE_TOYBOX=y
BR2_PACKAGE_TOYBOX_CONFIG="package/toybox/toybox.config"
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_AGETTY=y
BR2_PACKAGE_UTIL_LINUX_LOGIN_UTILS=y
BR2_PACKAGE_ZSH=y
BR2_PACKAGE_ZSH_BINARIES_ONLY=y

# Filesystem
BR2_ROOTFS_POST_BUILD_SCRIPT="${TOPDIR}/package/prism/copy_skel.sh"
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_OPTIMIZE_2=y
