# Architecture
BR2_arm=y
BR2_arm926t=y
BR2_ARM_EABI=y
BR2_CCACHE=y
BR2_DL_DIR="${TOPDIR}/../vendor/opensource/tarballs"
BR2_GCC_TARGET_TUNE="marvell-f"
BR2_JLEVEL=15
BR2_LARGEFILE=y
BR2_USE_MMU=y
BR2_USE_WCHAR=y

# Toolchain
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="${TOPDIR}/../toolchains/prism"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="arm-marvell-linux-uclibcgnueabi"
BR2_TOOLCHAIN_EXTERNAL_UCLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_UCLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTERNAL_INET_IPV6=y
BR2_TOOLCHAIN_EXTERNAL_INET_RPC=y
BR2_TOOLCHAIN_EXTERNAL_LARGEFILE=y
BR2_TOOLCHAIN_EXTERNAL_WCHAR=y

# U-Boot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_GIT_REPO_URL="repo://uboot/prism"
BR2_TARGET_UBOOT_CUSTOM_GIT_VERSION="HEAD"
BR2_TARGET_UBOOT_VERSION="HEAD"
BR2_TARGET_UBOOT_PATCH=""
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2009.08mv"
BR2_TARGET_UBOOT_DEFCONFIG="rd88f6601mc"
BR2_TARGET_UBOOT_BOARDNAME="rd88f6601mc"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="repo://kernel/prism"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="HEAD"
BR2_LINUX_KERNEL_VERSION="HEAD"
BR2_LINUX_KERNEL_PATCH=""
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="mv88f6601"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y

# Packages
BR2_PACKAGE_BUSYBOX=n
BR2_PACKAGE_CURL=y
BR2_PACKAGE_DASH=y
BR2_PACKAGE_DEVMEM2=y
BR2_PACKAGE_DHCP=y
BR2_PACKAGE_DHCP_CLIENT=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_EXPAT=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPUTILS=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBLOCKFILE=y
BR2_PACKAGE_LOCKFILE_PROGS=y
BR2_PACKAGE_MV_APP=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_OPENNTPD=y
BR2_PACKAGE_PRISM=y
BR2_PACKAGE_PROCPS=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_SYSKLOGD=y
BR2_PACKAGE_SYSVINIT=y
BR2_PACKAGE_TOOLBOX=y
BR2_PACKAGE_TOYBOX=y
BR2_PACKAGE_TOYBOX_CONFIG="package/toybox/toybox.config"
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_AGETTY=y
BR2_PACKAGE_UTIL_LINUX_LOGIN_UTILS=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_ZSH=y
BR2_PACKAGE_ZSH_BINARIES_ONLY=y

# Filesystem
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_ROOTFS_DEVICE_TABLE="/dev/null"
BR2_ROOTFS_POST_BUILD_SCRIPT="${TOPDIR}/support/scripts/postbuild.sh"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="fs/skeleton"
BR2_TARGET_GENERIC_HOSTNAME="gfiberjack"
BR2_TARGET_GENERIC_ISSUE="Welcome to Google Fiber"
BR2_TARGET_ROOTFS_INITRAMFS=y

# HAL related packages
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_LIBYAML=y
BR2_PACKAGE_PY_YAML=y

# TR-069 related packages
BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_PYC_ONLY=y
BR2_PACKAGE_PYTHON_PYEXPAT=y
BR2_PACKAGE_PYTHON_SSL=y
BR2_PACKAGE_PYTHON_IPV6=y
BR2_PACKAGE_PYTHON_ZLIB=y
BR2_PACKAGE_CATAWAMPUS=y
