CPTCFG_CFG80211=m
CPTCFG_CFG80211_DEVELOPER_WARNINGS=y
CPTCFG_CFG80211_REG_DEBUG=y
CPTCFG_CFG80211_CERTIFICATION_ONUS=y
# CPTCFG_CFG80211_DEFAULT_PS is not set
CPTCFG_CFG80211_DEBUGFS=y
CPTCFG_CFG80211_INTERNAL_REGDB=y
CPTCFG_CFG80211_WEXT=y
CPTCFG_MAC80211=m
CPTCFG_MAC80211_RC_PID=y
CPTCFG_MAC80211_DEBUG_MENU=y
CPTCFG_MAC80211_STA_DEBUG=y
CPTCFG_ATH_CARDS=m
CPTCFG_ATH_DEBUG=y
# CPTCFG_ATH9K_BTCOEX_SUPPORT is not set
CPTCFG_ATH9K=m
CPTCFG_ATH9K_DEBUGFS=y
CPTCFG_ATH9K_DFS_CERTIFIED=y
CPTCFG_ATH10K_USE_NCNB_DESCR=y
CPTCFG_ATH10K_USE_NCNB_SKB=y
CPTCFG_ATH10K_USE_COMCERTO_WIFI_FASTPATH=y
CPTCFG_ATH9K_HTC=m
CPTCFG_ATH9K_HTC_DEBUGFS=y
CPTCFG_CARL9170=m
CPTCFG_CARL9170_DEBUGFS=y
CPTCFG_ATH10K=m
CPTCFG_ATH10K_PCI=m
CPTCFG_ATH10K_DEBUG=y
CPTCFG_ATH10K_DEBUGFS=y
CPTCFG_ATH10K_TRACING=y
CPTCFG_ATH10K_DFS_CERTIFIED=y
CPTCFG_MWIFIEX=m
CPTCFG_MWIFIEX_USB=m
# CPTCFG_ETHERNET is not set
CPTCFG_USB_USBNET=m
CPTCFG_USB_NET_RNDIS_HOST=m
