CPTCFG_CFG80211=m
CPTCFG_CFG80211_DEVELOPER_WARNINGS=y
CPTCFG_CFG80211_REG_DEBUG=y
CPTCFG_CFG80211_CERTIFICATION_ONUS=y
# CPTCFG_CFG80211_DEFAULT_PS is not set
CPTCFG_CFG80211_DEBUGFS=y
CPTCFG_CFG80211_INTERNAL_REGDB=y
CPTCFG_QUANTENNA_PCIE_HOST=m
CPTCFG_QUANTENNA_PCIE_HOST_MPS_FIX=y
